*
{font-family: 'rajdhani' , sans-serif;}
h1
{ 
    color: red;
    background-color: black;
}
 ul, ol

 {
    color: blue;
 }
  .destaque1 
  {
    color: blueviolet;
  }

  .destaque2
    {
        color: black;
    }
     .rosa
 {
    color: brown
 }
 .destaque-300
 {
   font-weight: 300;
 }
 .destaque-500 {
   font-weight: 500;
 }
body
 {
   background-image: url('../img/corinthians.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   height: 600px;
   padding: 30px;
   margin: 10px;    
 }
 .quadrado-02{
   display: inline-block;
   background-color: transparent;
    margin: 2px;
    padding: 3px;
    padding-left: 10px;
 }